@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:regular,700);

@font-face { 
  font-family: "PT-Astra-Serif";
  src: url(PT-Astra-Serif_Bold.woff) format("woff"); /* все современные браузеры, IE9+ */
  font-weight: bold;     
}



* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Noto Sans";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Noto Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}



.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #1F294D;
  font-weight: 400;
  line-height: 1.2;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}



.header {
  background-color: #192444;
}
.header__box {
  
  height: 89px;
  margin-top: 34px;
  margin: 34px auto 0;
  padding: 0 10px;
  background-color: #1F294D;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  opacity: 0.95;
}

.header__content {
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 100%;
}

.header__btn img {
  width: 100%;
}
.header__contacts {
  display: flex;
}
.contacts-tel {
  align-self: center;
}
.contacts-tel img {
  margin-right: 6px;
}
.contacts-messanger {
  margin-left: 97px;
  display: flex;
  width: 86px;
  justify-content: space-between;
}

.contacts-messanger__tel, .contacts-messanger__viber {
  width: 33px;
  height: 33px;
  background-color: #fff;
  border-radius: 50%;
}
.contacts-messanger__tel img {
  margin: 4px 0 0 4px;
}
.contacts-messanger__viber img {
  margin: 7px 0 0 5px;
}

.menu {
  max-width: 478px;
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
/*----------------------------*/
.title {
  color: #FF9330;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}


.bg {
  padding: 67px 0 78px;
  background-image: url('../img/main-bg.png');
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: right;
  background-attachment: fixed;
}
.bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(133deg, rgba(31, 41, 77, 0.94) 0%, rgba(31, 41, 77, 0.80) 31.56%, rgba(31, 41, 77, 0.70) 53.93%, rgba(31, 41, 77, 0.00) 100%);
  z-index: 2;
}
.bg__box {
  max-width: 1440px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;  
  gap: 97px;
}
.bg__content {
  max-width: 500px;
  font-size: 20px;
}
.bg__title {
  font-family: "PT-Astra-Serif";
  font-size: 64px;
  font-weight: bold;
}
.bg__title-orange {
  color: #FF9330;
}
.bg__subtitle {
  margin-top: 42px;
  margin-bottom: 61px; 
  padding-left: 20px; 
  position: relative;   
  border-left: 5px solid #FF9330;
}

.bg__btn {
  width: 422px;
  padding: 16px;
  background: #FF9330;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(255,147,48,1);
  -moz-box-shadow: 2px 2px 5px 2px rgba(255,147,48,1);
  box-shadow: 2px 2px 5px 2px rgba(255,147,48,1);
  transition: all ease-out 0.3s;
}
.bg__btn:hover {
  background: #fff;
  color: #FF9330;
}
.bg__img {
  max-width: 779px;
}
.bg__img img{
  width: 100%;
}

/*----------------------------*/
.benefits__container {
  padding: 80px 10px 0;
}
.benefits__items {
  margin-top: 38px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.item {
  padding: 46px 10px;
  background-color: #27335D;
  text-align: center;
  line-height: 1.3;
  transition: all ease-in 0.3s;
}
.item:hover {
  transform: scale(1.03);
  border: 1px solid #fff;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(255,255,255,0.4);
-moz-box-shadow: 2px 2px 3px 0px rgba(255,255,255,0.4);
box-shadow: 2px 2px 3px 0px rgba(255,255,255,0.4);
}
.item-img {
  max-width: 80px;
  max-height: 80px;
  margin: 0 auto;
  transform: translateX(-200px);
  opacity: 0;
  animation: itemImg 2s forwards;
}
.item-img img { 
  height: 100%;
}
@keyframes itemImg {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.item-title {
  margin: 17px 0 20px;
  color: #FF9330;
  font-size: 20px;
  font-weight: 600;
  transform: translateX(200px);
  opacity: 0;
  animation: itemText 2s forwards;
}
.item-text {
  transform: translateX(200px);
  opacity: 0;
  animation: itemText 2s forwards;
}
@keyframes itemText {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/*----------------------------*/

.services__title {
  max-width: 1220px;
  padding: 40px 10px;
  background: #1A2346;  
}
.services__content-service {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.services__content {
  max-width: 996px;  
  margin: 40px auto 0;
}
.services__content-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.services-card {
  max-width: 488px;
  font-size: 20px;
  font-weight: 600;
  color: #FF9330;
}
.services-card__title {
  width: 100%;
  height: 60px;
  background: #27335D;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-60px);
  opacity: 0;
  transition: all ease-in-out 0.5s;
}
.services-card:hover .services-card__title {
  opacity: 1;
}
.services-card img {
  width: 100%;
}
.services__navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.services__tabs {
  max-width: 1200px;  
}
.services__tabs-title {
  width: 288px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}
.services__tabs-title::after {
  content: '';
  background-image: url('../img/icons/plus.svg');
  position: absolute;
  top: 0;
  right: -21px;
  height: 19px;
  width: 19px;
  cursor: pointer;
}
.tab__title {
  min-width: 183px;
  padding: 16px 14px;
  background: #27335D;
}
._tab-active {
  background: #FF9330;
}
.all {
  width: 367px;
}

/*----------------------------*/
.slider {
  max-width: 1200px;
  margin: 0 auto;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 260px;
  height: auto;
  background-position: center;
  background-size: cover;
  transition: all ease 0.2s;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-slide-active {
  width: 387px;
  position: relative;
  overflow: hidden;
}
.swiper-slide-active .main__slide-text {
  opacity: 1;
}
.swiper-slide-prev, .swiper-slide-next {
  width: 329px;
  height: auto;
} 
.main__slider-title {
  width: 100%;
  padding: 40px 0;
  margin-bottom: 80px;
  background-color: #27335D;
  
}
.main__slide-text {
  width: 100%;
  height: 60px;
  padding: 8px 0 8px 20px;
  background-color: #27335D;
  position: absolute;
  bottom: 0;
  opacity: 0;
}
.slide-btn-prev {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 65%;
  left: 35%;
}
.slide-btn-next {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 65%;
  right: 35%;
}
/*----------------------------*/
.contacts {
  padding-bottom: 120px;
}
.contacts__container {
  max-width: 1176px;
  margin-top: 70px;
  padding: 40px 10px;
  border: 3px solid #fff;
  text-align: center;
  font-size: 20px;
}
.contacts__tel {
  margin: 40px 0 26px;  
}
.contacts__tel img {
  margin-right: 5px;
}
.contacts__question {
  margin-bottom: 32px;
  color: #FF9330;
  font-weight: 600;
}
.contacts__btn {
  width: 426px;
  margin: 0 auto;
  padding: 16px;
  background: #FF9330;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(255,147,48,1);
  -moz-box-shadow: 2px 2px 5px 2px rgba(255,147,48,1);
  box-shadow: 2px 2px 5px 2px rgba(255,147,48,1);
  transition: all ease-out 0.3s;  
}
.contacts__btn:hover {
  background: #fff;
  color: #FF9330;
}

/*----------------------------*/
.footer {
  background-color: #192444;
}
.footer__box {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer__content {
  padding: 0 10px 40px;  
  display: grid;
  grid-template-columns: 15% 45% 15% auto;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu__list {
  max-width: 478px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__name-bottom {
  padding: 20px 0 25px;
  border-top: 1px solid #fff;
  text-align: center;
}
.footer__city {
  width: 86px;
  padding-left: 30px;
}
.contacts-city__social {  
  display: flex;
  justify-content: space-between;
}
.contacts-contacts__tel img {
  margin-right: 6px;
}
.contacts-contacts__tel {
  margin-bottom: 15px;
}
.contacts-contacts__email img {
  margin-right: 6px;
}
.contacts-city__city {
  margin-bottom: 19px;
  padding-left: 30px;
  position: relative;
}
.contacts-city__city::before {
  content: "";
  background-image: url('../img/icons/Map.webp');
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 22px;
}
.contacts-city__tel, .contacts-city__viber {
  width: 33px;
  height: 33px;
  background-color: #FF9330;
  border-radius: 50%;
}
.contacts-city__tel img {
  margin: 4px 0 0 4px;
}
.contacts-city__viber img {
  margin: 7px 0 0 5px;
}

/*---------адаптив-------------------*/
@media (max-width: 990px) {
  .header__box {  
    padding: 0 20px;    
  }
  .contacts-messanger {
    margin-left: 30px;
    gap: 5px;
    
  }
  .bg__box {
    padding: 0 0 0 10px;
  }
  .services-card__title {
    transform: translateY(0);
    opacity: 1;
  }
  .services__content-title, .services__tabs-title {
    margin-top: 20px;
  }
  .contacts {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer__content {
    grid-template-columns: 20% 55% 25%;
  }
}

@media (max-width: 47.99875em) {  
  .menu {
    position: relative;
  }
  .header {
    text-align: end;
  }
  .header__box {
    padding: 0 15px;
  }
  .header__content {
    position: relative;
  }
  .header__contacts {
    position: absolute;
    right: 52px;
  }
  .header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
  }

  .header__nav li {
    display: block;
  }

  .header__nav-item {
    margin-left: 20px;
  }

  .header__nav .menu ul {
    padding-top: 30px;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    right: 10px;
  }

  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #FF9330;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #FF9330;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }

  .menu {
    position: fixed;
    padding-right: 50px;
    top: 120px;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1F294D;
    line-height: 1.8;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

  .menu.active {
    width: 200px;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 5;
  }

  .menu li {
    list-style-type: none;
  }

  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }

  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
        -ms-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(-45deg);
        -ms-transform: translate(-50%, 0%) rotate(-45deg);
            transform: translate(-50%, 0%) rotate(-45deg);
  }

  .menu__list {
    display: block;
  }
  .contacts-messanger, .contacts-tel-span {
    display: none;
  }
  .bg__content {
    max-width: 416px;
  }
  .bg__title {
    font-size: 55px;
  }
  .bg__box {
    gap: 20px;
  }
  .bg__subtitle {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .bg__btn {
    width: 100%;
    padding: 12px;
  }
  .item {
    padding: 15px 10px;
  }
  .benefits__items {    
    grid-template-columns: repeat(2, minmax(200px, 1fr));    
  }
  .contacts__btn {
    padding: 12px;
  }
  .footer__content {
    grid-template-columns: 30% 80%;
    row-gap: 40px;
  }
  
}
@media (max-width: 400px) {
  .bg {   
    padding-bottom: 40px; 
    background-size: 200%;  
    background-repeat: no-repeat;
    background-position-y: 130px;
  }
  .bg__box {
    padding-right: 10px;
    flex-wrap: wrap-reverse;
  }
  .bg__title {
    position: absolute;
    top: 0;
    font-size: 32px;
    font-weight: 700;
  }
  .bg__subtitle {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
  }
  .bg__img {
    margin-top: 90px;
  }
  .bg__btn {
    width: 94%;
    padding: 10px;
    font-size: 14px;
  }
  .benefits__container {
    padding: 40px 10px 0;
  }
  .title {
    font-size: 20px;
    font-weight: 700;
  }
  .benefits__items {
    padding-bottom: 40px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .item-img {
    max-width: 34px;
    max-height: 34px;    
  }
  .item-img img {
    width: 100%;
  }
  .item-title {
    margin: 10px 0 4px;
    font-size: 10px;
    font-weight: 600;
  }
  .item-text {
    font-size: 8px;
  }
  .services__title, .main__slider-title {    
    padding: 20px 10px;    
  }
  .services__content-service {
    flex-wrap: wrap;
  }
  .services__content-title, .contacts__question {
    font-size: 16px;
  }
  .services-card__title {
    height: 36px;
    font-size: 12px;
  }
  .main__slider-title {
    margin-bottom: 20px;
  }
  
  .contacts__container {    
    margin-top: 0px;            
    font-size: 14px;
  }
  .contacts__tel {
    margin: 20px 0 26px;
  }
  .contacts__btn {
    width: 93%;
  }
  .contacts {
    padding-bottom: 40px;
  }
  .footer__box {
    font-size: 14px;
  }
  .footer__content {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 20px;
  }
  .footer-menu__list {
    display: block;
    text-align: center;
  }

}
@media (max-width: 381px) {
  .bg__img {
    margin-top: 130px;
  }
}